* {
  font-size: 1vw;
}

@font-face{

  font-family: 'ProximaNova-Black';

  src: url('./ProximaNova-Black.ttf');

  font-weight: bold;

  font-style: normal;

}

@font-face{

  font-family: 'ProximaNova_Regilar';

  src: url('./ProximaNova-Regular.ttf');

  font-weight: normal;

  font-style: normal;

}